// Styling common to the whole app

// html{
//   height: 100%;
// }
//
// body{
//   height: 100%;
// }

// #root{
//   height: 100%;
// }
//
// #app-container{
//   height: 100%;
// }


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: 	$place-holder-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: 	$place-holder-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: 	$place-holder-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: 	$place-holder-grey;
}
