.agencyFirstForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.agencyFirstForm button {
  margin: 20px;
  text-align:center;
  background-color: $pure-orange;
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.agencyFirstForm input {
  height: 50px;
  border-bottom: 1px solid $light-grey;
}

.agencyFirstForm p{
  margin: 0 auto;
  color: red;
}
