.agencyFirstForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.agencyFirstForm button {
  // margin: 20px;
  margin-top: 20px;
  width: 100%;
  text-align:center;
  background-color: $pure-orange;
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.agencyFirstForm input {
  margin-top: 15px;
  border-bottom: 1px solid $light-grey;
}

.agencyFirstForm p{
  color: red;
}

.full-name-container-agency{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}

.first-name-container-agency{
  display: flex;
  flex-direction: column;
}

.last-name-container-agency{
  display: flex;
  flex-direction: column;
}
