.agencyFirstForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  // display: table-cell;
  // vertical-align: middle;
  // align-items: center;
  justify-content: center;
}

.agencyFirstForm button {
  margin: 20px;
  background-color: green;
  text-align:center;
}
