.thirdPartyAuthButton {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


.thirdPartyAuthButton:nth-child(1){
  background-color: #0084bf;
  color: white;
}

.thirdPartyAuthButton:nth-child(2){
  background-color: #db4437;
  color: white;
}

.authButtonsContainer{
  display: flex;
  margin-top: 20px;
}

.authButtons {
  background-color: $pure-orange;
  color: white;
  width: 47.5%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sharedForm p{
  // margin: 0 auto;
  color: red;
}

.middle-text-bridge p{
  color: black !important;
  margin: 0 auto;
  text-align: center;
}
