
.main-projects-index-page-container{
  background-color: $light-grey;
  height: 100vh;
}

.projects-index-page-top-level-content-container{
  width: 100%;
  height: 100%;
  background-color: white;
}

.projects-index-page-main-header-container{
  width: 100%;
  height: 10%;
  padding-top: 20px;
  // padding-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.projects-index-page-header-content-container{
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  // border-bottom: 2px solid $light-grey;
}


.projects-index-page-main-content-container{
  height: 90vh;
  width: 100%;
  background-color: $light-grey;
  margin-top: 20px;
}

.new-project-button{
  background-color: $pure-orange;
  padding: 10px 20px 10px 20px;
  margin-left: 40px;
  color: white;
  font-weight: bold;
}
