.root-project-show-container{
  height: 100vh;
  background-color: $lightest-grey;
}

.project-show-content-container{
  height: 100%;
}

.dummy-block{
  height: 60px;
  background: pink;
}

.project-stage-container{
  height: 65px;
  background-color: $light-grey;
}

.project-progress-step{
  display: block;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  // margin-left: 197px;
}


// using service form progress bar

.projects-stage-two-container{
  margin-top: 20px;
  height:80%;
  width: 100%;
  background-color: $lightest-grey;
}

.projects-stage-two-main-content-container{
  margin-left: 100px;
  margin-right: 100px;
}

.stage-two-top-level-text h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stage-two-top-level-text h2{
  font-size: 20px;
}

.stage-two-top-level-text{
  margin-bottom: 30px;
}
.stage-two-project-details-view{
  background-color: white;
  height: 450px;
  padding: 20px 20px 20px 20px;
}

.stage-two-project-details-form h1{
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 30px;
}
