.service-form-steps-container{
  height: 100%;
}

.service-form-steps-container > h1{
  font-weight: bold;
  font-size: 30px;
  border-bottom: 2px solid $pure-orange;
  padding-bottom: 10px;
}


.service-form-steps-content-container{
  display: grid;
  height: 90%;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%;
  // border: 1px solid black;
}

.service-form-stepone-main-content{
  grid-row: 2/5;
  grid-column: 1/4
}


.service-form-stepone-main-content > label{
  font-size: 20px;
  font-weight: lighter;
}

.service-form-stepone-main-content > input{
  padding-top: 18px;
  width: 100%;
}

.service-form-stepone-main-content > p {
  font-size: 16px;
  font-weight: normal;
  padding-top: 14px;
}

.stepone-button-container{
  grid-row: 5/6;
  display: flex;
  justify-content: flex-end;
}

.stepone-button-container > button{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  text-transform: uppercase;
  background-color: $pure-orange;
}


// =========STEP 2

.steps-buttons-container{
  grid-row: 5/6;
  display: flex;
  justify-content: space-between;
}

.service-form-steps-main-content{
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
}

.service-form-steps-main-content > label {
  font-size: 20px;
  font-weight: lighter;
}

.service-form-steps-main-content > p{
  font-size: 16px;
  font-weight: normal;
  padding-top: 14px;
}

.steptwo-service-options-bar{
  margin-bottom: 30px
}

.service-form-steps-main-content > textarea{
  resize: none;
  border: 3px solid #cccccc;
  height: 200px;
  margin-top: 20px;
}

.steps-buttons-container button{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  text-transform: uppercase;
  background-color: $pure-orange;
}

// ==============step 3

.stepthree-date-container{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
  // border: 1px solid black;
  display: flex;
  // justify-content: center;
  font-size: 17px;
}

.stepthree-date-container > input {
  max-width: 500px;
}

.stepthree-budget-bar{
  margin-top: 20px;
}



// =====step 4

.radiobutton-container{
  margin-top: 20px;
}
