.full-name-container-business{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}


.first-name-container{
  display: flex;
  flex-direction: column;
}

.last-name-container{
  display: flex;
  flex-direction: column;
}


.business-industry-options-bar{
  margin-top: 10px;
  line-height: inherit !important; 
}
