.full-name-container-business{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}


.first-name-container{
  display: flex;
  flex-direction: column;
}

.last-name-container{
  display: flex;
  flex-direction: column;
}


.business-industry-options-bar{
  margin-top: 10px;
  line-height: inherit !important;
  margin-bottom: 20px;
}


.progress-step{
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10px;
}

.progrees-bar{
  transition: all 0.2s ease;
}


.progress-bar-container{
  margin-bottom: 10px;
}


.business-type-radio-container{
  margin-top: 10px;
}

.business-signup-steptwo-buttons-container{
  display: flex;
  flex-direction: column;
}


.step-two-first-button{
  text-align: center;
  background-color: $pure-orange;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.step-two-second-button{
  text-align: center;
}

.step-two-second-button :hover{
  color: red;
}
