
.splash-agency-header{
  // background-image:  image-url("agency_signup_image.jpg");
  background-color: $lightest-grey;
  background-size: cover;
  margin-top: 60px;
  height: 100vh;
  display: flex;
  align-items: center;
}


.splash-header-content-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);

}

.splash-header-jumbo-text{
  grid-column: 2 / 5;
  font-size: 40px;
  color: $black-grey;
}

.agency-first-form-container{
  grid-column: 7 / 10;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid $light-grey;
}

.main-header-content-container {
  height: 80%;
}
